<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="buttons are-large">
                <button id="button-signup-form-show" class="button is-success is-fullwidth"><strong>Sign up</strong></button>
                <button id="button-login-form-show" class="button is-dark is-fullwidth">Login</button>
                <button id="button-work-offline-info-show" class="button is-light is-fullwidth">Work Offline</button>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="modal-auth">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <p id="login-error-info" class="hidden">Login or password is incorrect, be careful and try again</p>
            <label for="login"><b>Username</b></label>
            <div class="field">
                <div class="control">
                    <input id="login" class="input" type="text" placeholder="Enter username" required>
                </div>
            </div>
            <label for="password"><b>Password</b></label>
            <div class="field">
                <div class="control">
                    <input id="password" class="input" type="password" placeholder="Enter password" required>
                </div>
            </div>

            <div class="buttons">
                <button id="button-login" class="button is-success">Login</button>
                <button id="button-login-cancel" class="button is-danger">Cancel</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="modal" id="modal-accept-offline">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            You select to work offline. This means that registration is no needed and account is not created.
            You get full functionality except of synchronization with other devices and services.
            If it is what you desire press "Accept". Otherwise just close this message.

            <div class="buttons">
                <button id="button-offline-accept" class="button is-success">Accept</button>
                <button id="button-offline-cancel" class="button is-danger">Cancel</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
