<div class="view">
    <header class="header">
        <div class="controls">
            <div id="toggle_menu">
                <i class="fa fa-bars" id="fa_bars"></i>
                <i class="fa fa-unlock hidden" id="fa_unlock"></i>
                <i class="fa fa-lock hidden" id="fa_lock"></i>
            </div>

            <ul id="settings">
                <li data-lang-switch="" data-lang-be="Мова" data-lang-de="Sprache" data-lang-en="Language" data-lang-es="Lengua" data-lang-iw="שפה" data-lang-ru="Язык" data-lang-uk="Мова" data-lang-fi="Kieli" data-lang-fr="Langue">Язык</li>
                <li data-theme="light-theme" data-lang-be="Светлая тэма" data-lang-de="Licht Thema" data-lang-en="Light theme" data-lang-es="Un tema brillante" data-lang-iw="נושא בהיר" data-lang-ru="Светлая тема" data-lang-uk="Світла тема" data-lang-fi="Kirkas teema" data-lang-fr="Thème lumineux"><!-- <i class="fa fa-circle-thin"> --></i>Светлая тема</li>
                <li data-theme="dark-theme" data-lang-be="Цёмная тэма" data-lang-de="Dunkles Thema" data-lang-en="Dark theme" data-lang-es="Tema oscuro" data-lang-iw="נושא כהה" data-lang-ru="Темная тема" data-lang-uk="Темна тема" data-lang-fi="Tumma teema" data-lang-fr="Thème sombre"><!-- <i class="fa fa-circle"></i> -->Темная тема</li>
                <li data-clear="" data-lang-be="Ачысціць спіс" data-lang-de="Liste löschen" data-lang-en="Clear list" data-lang-es="Borrar lista" data-lang-iw="רשימה ברורה" data-lang-ru="Очистить список" data-lang-uk="Очистити список" data-lang-fi="Tyhjennä lista" data-lang-fr="Supprimer la liste">Очистить список</li>
            </ul>

            <button class="controls__create-project" title="Create new project to organize tasks semantically">+ Create Project</button>

            <div class="controls__auth">
                <button id="button-logout" class="controls__auth-logout">Logout</button>
            </div>
        </div>
    </header>
    <table id="stat">
        <tr>
            <td data-lang-be="Усяго:" data-lang-de="Gesamt:" data-lang-en="Total:" data-lang-es="En total:" data-lang-iw="בכל:" data-lang-ru="Всего:" data-lang-uk="Всього:" data-lang-fi="Kaikkiaan:" data-lang-fr="En tout:">Всего:</td>
            <td id="stat_total">0</td>
            <td data-lang-be="Зроблена:" data-lang-de="Gemacht:" data-lang-en="Done:" data-lang-es="Hecho:" data-lang-iw="עשיתי:" data-lang-ru="Сделано:" data-lang-uk="Зроблено:" data-lang-fi="Tehty:" data-lang-fr="Fini:">Сделано:</td>
            <td id="stat_done">0</td>
            <td data-lang-be="Запланавана:" data-lang-de="Geplant:" data-lang-en="Planned:" data-lang-es="Programada:" data-lang-iw="מתוכנן:" data-lang-ru="Запланировано:" data-lang-uk="Заплановано:" data-lang-fi="Suunniteltu:" data-lang-fr="Prévu:">Запланировано:</td>
            <td id="stat_plan">0</td>
            <td id="sort" data-state="">
                <i class="fa fa-sort"></i>
            </td>
        </tr>
    </table>

    <section class="container">
        <div class="tabs">
            <ul></ul>
        </div>
    </section>
</div>
