<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="view">
            <header class="header">
                <div class="controls">
                    <div id="toggle_menu">
                        <i class="fa fa-bars" id="fa_bars"></i>
                        <i class="fa fa-unlock hidden" id="fa_unlock"></i>
                        <i class="fa fa-lock hidden" id="fa_lock"></i>
                    </div>

                    <ul id="settings">
                        <li data-lang-switch="" data-lang-be="Мова" data-lang-de="Sprache" data-lang-en="Language" data-lang-es="Lengua" data-lang-iw="שפה" data-lang-ru="Язык" data-lang-uk="Мова" data-lang-fi="Kieli" data-lang-fr="Langue">Язык</li>
                        <li data-theme="light-theme" data-lang-be="Светлая тэма" data-lang-de="Licht Thema" data-lang-en="Light theme" data-lang-es="Un tema brillante" data-lang-iw="נושא בהיר" data-lang-ru="Светлая тема" data-lang-uk="Світла тема" data-lang-fi="Kirkas teema" data-lang-fr="Thème lumineux"><!-- <i class="fa fa-circle-thin"> --></i>Светлая тема</li>
                        <li data-theme="dark-theme" data-lang-be="Цёмная тэма" data-lang-de="Dunkles Thema" data-lang-en="Dark theme" data-lang-es="Tema oscuro" data-lang-iw="נושא כהה" data-lang-ru="Темная тема" data-lang-uk="Темна тема" data-lang-fi="Tumma teema" data-lang-fr="Thème sombre"><!-- <i class="fa fa-circle"></i> -->Темная тема</li>
                        <li data-clear="" data-lang-be="Ачысціць спіс" data-lang-de="Liste löschen" data-lang-en="Clear list" data-lang-es="Borrar lista" data-lang-iw="רשימה ברורה" data-lang-ru="Очистить список" data-lang-uk="Очистити список" data-lang-fi="Tyhjennä lista" data-lang-fr="Supprimer la liste">Очистить список</li>
                    </ul>

                    <button class="controls__create-project" title="Create new project to organize tasks semantically">+ Create Project</button>

                    <div class="controls__auth">
                        <button id="button-logout" class="controls__auth-logout">Logout</button>
                    </div>
                </div>
            </header>
            <table id="stat">
                <tr>
                    <td data-lang-be="Усяго:" data-lang-de="Gesamt:" data-lang-en="Total:" data-lang-es="En total:" data-lang-iw="בכל:" data-lang-ru="Всего:" data-lang-uk="Всього:" data-lang-fi="Kaikkiaan:" data-lang-fr="En tout:">Всего:</td>
                    <td id="stat_total">0</td>
                    <td data-lang-be="Зроблена:" data-lang-de="Gemacht:" data-lang-en="Done:" data-lang-es="Hecho:" data-lang-iw="עשיתי:" data-lang-ru="Сделано:" data-lang-uk="Зроблено:" data-lang-fi="Tehty:" data-lang-fr="Fini:">Сделано:</td>
                    <td id="stat_done">0</td>
                    <td data-lang-be="Запланавана:" data-lang-de="Geplant:" data-lang-en="Planned:" data-lang-es="Programada:" data-lang-iw="מתוכנן:" data-lang-ru="Запланировано:" data-lang-uk="Заплановано:" data-lang-fi="Suunniteltu:" data-lang-fr="Prévu:">Запланировано:</td>
                    <td id="stat_plan">0</td>
                    <td id="sort" data-state="">
                        <i class="fa fa-sort"></i>
                    </td>
                </tr>
            </table>

            <section id="task_section"></section>

            <div id="overlay" class="hidden"></div>
            <div id="popup" class="hidden" data-aim="lang">
                <p data-lang="be" data-lang-be="Беларуская" data-lang-de="Belarussisch" data-lang-en="Belarusian" data-lang-es="Bielorruso" data-lang-iw="הביילורוסית" data-lang-ru="Белорусский" data-lang-uk="Білоруська" data-lang-fi="Valkovenäjä" data-lang-fr="Biélorusse">Белорусский</p>
                <p data-lang="de" data-lang-be="Нямецкая" data-lang-de="Deutsch" data-lang-en="German" data-lang-es="Aleman" data-lang-iw="גרמני" data-lang-ru="Немецкий" data-lang-uk="Німецька" data-lang-fi="Saksa" data-lang-fr="Allemand">Немецкий</p>
                <p data-lang="en" data-lang-be="Англійская" data-lang-de="Englisch" data-lang-en="English" data-lang-es="Inglés" data-lang-iw="אנגלית" data-lang-ru="Английский" data-lang-uk="Англійська" data-lang-fi="Englanti" data-lang-fr="Anglais">Английский</p>
                <p data-lang="es" data-lang-be="Іспанская" data-lang-de="Spanisch" data-lang-en="Spanish" data-lang-es="Español" data-lang-iw="ספרדית" data-lang-ru="Испанский" data-lang-uk="Іспанська" data-lang-fi="Espanja" data-lang-fr="Espagnol">Испанский</p>
                <p data-lang="iw" data-lang-be="Іўрыт" data-lang-de="Hebräisch" data-lang-en="Hebrew" data-lang-es="Hebreo" data-lang-iw="עברית" data-lang-ru="Иврит" data-lang-uk="Іврит" data-lang-fi="Heprea" data-lang-fr="Hébreu">Иврит</p>
                <p data-lang="ru" data-lang-be="Руская" data-lang-de="Russisch" data-lang-en="Russian" data-lang-es="Ruso" data-lang-iw="שפה רוסית" data-lang-ru="Русский" data-lang-uk="Російська" data-lang-fi="Venäjän" data-lang-fr="Russe">Русский</p>
                <p data-lang="uk" data-lang-be="Ўкраінская" data-lang-de="Ukrainisch" data-lang-en="Ukrainian" data-lang-es="Ucraniano" data-lang-iw="שפה אוקראינית" data-lang-ru="Украинский" data-lang-uk="Українська" data-lang-fi="Ukrainalainen" data-lang-fr="Ukrainien">Украинский</p>
                <p data-lang="fi" data-lang-be="Фінская" data-lang-de="Finnisch" data-lang-en="Finnish" data-lang-es="Finlandés" data-lang-iw="פיני" data-lang-ru="Финский" data-lang-uk="Фінська" data-lang-fi="Suomi" data-lang-fr="Finnois">Финский</p>
                <p data-lang="fr" data-lang-be="Французская" data-lang-de="Französisch" data-lang-en="French" data-lang-es="Francés" data-lang-iw="צרפתי" data-lang-ru="Французский" data-lang-uk="Французька" data-lang-fi="Ranska" data-lang-fr="Français">Французский</p>
            </div>

            <div class="preloader hidden">
                <div class="preloader__circle"></div>
                <div class="preloader__text">loading...</div>
            </div>
        </div>
    </body>
</html>
