<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            .hidden {
                display: none !important;
            }

            body {
                background-size: cover;
                background: url("../img/bg.jpg") no-repeat fixed center;
            }
        </style>
    </head>
    <body>
        <div class="view">
            <header class="header">
                <div class="controls">
                    <div class="controls__auth">
                        <button onclick="document.getElementById('modal-auth').classList.remove('hidden')" id="button-login" class="controls__auth-login">Login</button>
                    </div>
                </div>
            </header>

            <div id="overlay" class="hidden"></div>

            <div id="modal-auth" class="modal-auth hidden">
                <div class="modal-auth__content animate">
                    <span onclick="document.getElementById('modal-auth').classList.add('hidden')" class="close" title="Close Modal">&times;</span>

                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('modal-auth').classList.add('hidden')" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </div>
            </div>

            <div class="preloader hidden">
                <div class="preloader__circle"></div>
                <div class="preloader__text">loading...</div>
            </div>
        </div>
    </body>
</html>
