@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/fTLR1wW5qq9Ui3F-pB4hXQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ptsans/v8/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}

html, body, header, section, input, label, button, h1 {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: #14171A;
    font: normal 14px sans-serif;
}

header {
    background: #2E8B57;
    font: 400 14px "PT Sans";
    height: 50px;
    left: 0;
    line-height: 50px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

section {
    margin: 0 auto;
    padding-top: 80px;
    width: 600px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

input {
    background: #20252a;
    box-sizing: border-box;
    color: #B6B9BD;
    padding: 5px 10px;
    width: 92%;
}

button {
    background: #000;
    color: #2E8B57;
    cursor: pointer;
    padding: 4px 2px;
}

.shadow {
    color: #585A5C;
}