/* uncomment when implement build */
/*@import '../../node_modules/bulma/css/bulma.min.css';*/
@import '../views/guest/main.css';
@import '../views/user/main.css';

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}


/*
 |--------------------------------
 |   PRELOADER
 |--------------------------------
 */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    top: 0;
    z-index: 1000;
}

    .preloader__circle {
        height: 97px;
        width: 97px;
        margin: 40vh auto;
        border: 4px solid #393c48;
        border-top: 5px solid #eee;
        border-radius: 50%;
        animation: rotate 1s infinite linear;
    }

    .preloader__text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 515px;
        width: 100%;
    }
