@import "font-awesome.css";
@import "login.css";
@import "not-found.css";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	font-size: 16px;
}

body, html {
    height: 100%;
}

*.private,
.hidden {
    display: none !important;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.header {
    background: rgba(0, 0, 0, 0.7);
    font: normal 2rem/50px HelveticaNeue-Light, sans-serif;
    height: 50px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

#toggle_menu {
	height: 50px;
	margin: 0 auto;
	position: relative;
	width: 50px;
}

#toggle_menu i {
	cursor: pointer;
}

#fa_lock, #fa_unlock {
	font-size: .9em;
	left: 50px;
	position: absolute;
	top: 10px;
}

#toggle_menu.active {
	float: left;
	margin: 0;
}

#toggle_menu.active + #settings {
	display: block;
}

#settings {
	display: none;
	float: right;
	font-size: .7em;
	list-style: none;
	margin: 0;
}

#settings li {
	cursor: pointer;
	display: inline-block;
	padding: 0 20px;
}

#settings li i {
	display: none;
}

#stat {
	border-collapse: collapse;
	height: 30px;
	margin-top: 50px;
	width: 100%;
}

#sort {
	cursor: pointer;
}

section {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 640px;
}

label {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
}

input {
    box-sizing: border-box;
	font-size: .875rem;
	height: 46px;
    padding: 5px 12px;
    width: 91.5%;
}

button {
    cursor: pointer;
	float: right;
	font-size: 20px;
	height: 46px;
    width: 8.48%;
}

input, button {
	border: 0;
}

#overlay {
	background: rgba(0, 0, 0, .6);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#popup {
	height: 150px;
	left: 50%;
	margin-left: -150px;
	overflow: auto;
	position: absolute;
	width: 300px;
	z-index: 1001;
}

#popup p {
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding-left: 10px;
}

#popup p:nth-child(1):after {
	content: " (be)";
}

#popup p:nth-child(2):after {
	content: " (de)";
}

#popup p:nth-child(3):after {
	content: " (en)";
}

#popup p:nth-child(4):after {
	content: " (es)";
}

#popup p:nth-child(5):after {
	content: " (iw)";
}

#popup p:nth-child(6):after {
	content: " (ru)";
}

#popup p:nth-child(7):after {
	content: " (uk)";
}

#popup p:nth-child(8):after {
	content: " (fi)";
}

#popup p:nth-child(9):after {
	content: " (fr)";
}

#popup p:last-child {
	border-bottom: 0 !important;
}

.disabled {
	pointer-events: none;
}

.hidden {
	display: none;
}


/*======================================
		LIGHT THEME
=======================================*/


body.light-theme {
	background: #D3E3B7;
}

.light-theme #toggle_menu {
	color: #6C9247;
}

.light-theme header {
	background: #93C85E;
}

.light-theme #settings li.active {
	background: #D3E3B7;
}

.light-theme #settings li {
	color: #383838;
}

.light-theme #stat {
	border-bottom: 4px solid #93C85E;
}

.light-theme input {
	color: #383838;
}

.light-theme button {
	background: #EF7468;
	color: #000;
}

.light-theme .shadow {
	background: #BFBFBF;
	text-decoration: line-through;
}

.light-theme #popup {
	background: #D3E3B7;
}

.light-theme #popup p {
	border-bottom: 1px dashed #383838;
	color: #383838;
}

.light-theme #popup p.active {
	background: #93C85E;
}


/*
 |------------------------------------
 |   DARK THEME
 |------------------------------------
 */

body.dark-theme {
	background: #14171A;
}

.dark-theme #toggle_menu {
	color: #20252a;
}

.dark-theme header {
	background: #2E8B57;
}

.dark-theme #settings li.active {
	background: #14171A;
	color: #2E8B57;
}

.dark-theme #settings li {
	color: #14171A;
}

.dark-theme #stat {
	border-bottom: 4px solid #2E8B57;
	color: #2E8B57;
}

.dark-theme input {
	background: #20252a;
	color: #B6B9BD;
}

.dark-theme button {
	background: #000;
    color: #2E8B57;
}

.dark-theme .shadow {
	background: rgba(0, 0, 0, .4);
	text-decoration: line-through;
}

.dark-theme #popup {
	background: #2E8B57;
}

.dark-theme #popup p {
	border-bottom: 1px dashed #14171A;
	color: #14171A;
}

.dark-theme #popup p.active {
	background: #14171A;
	color: #2E8B57;
}


/*
 |----------------------------------
 |   MEDIA QUERIES
 |----------------------------------
 */

@media screen and (max-width: 1024px) {
	#settings li {
		padding: 0 10px;
	}
}

@media screen and (max-width: 800px) {
	#settings {
		font-size: .5em;
	}


	label {
		width: 95%;
	}
}


/*
 |--------------------------------
 |   PRELOADER
 |--------------------------------
 */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    top: 0;
    z-index: 1000;
}

    .preloader__circle {
        height: 97px;
        width: 97px;
        margin: 40vh auto;
        border: 4px solid #393c48;
        border-top: 5px solid #eee;
        border-radius: 50%;
        animation: rotate 1s infinite linear;
    }

    .preloader__text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 515px;
        width: 100%;
    }

