<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button id="button-create-project-form-show" class="button is-success" title="Create new project to organize tasks semantically">+ Create Project</button>
                    <button id="button-logout" class="button is-light">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="tabs is-toggle is-fullwidth">
    <ul id="tabs"></ul>
</div>

<div id="tabs-content" class="container"></div>

<div class="modal" id="modal-create-project">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <label for="input-project-name"><b>Project name</b></label>
            <div class="field">
                <div class="control">
                    <input id="input-project-name" class="input" type="text" placeholder="Enter name">
                </div>
            </div>
            <label for="input-project-description"><b>Project description</b></label>
            <div class="field">
                <div class="control">
                    <input id="input-project-description" class="input" type="text" placeholder="Enter description">
                </div>
            </div>

            <div class="buttons">
                <button id="button-create-project" class="button is-success">Create project</button>
                <button id="button-cancel-project" class="button is-danger">Cancel</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="modal" id="modal-create-task">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <label for="input-task-description"><b>Task description</b></label>
            <div class="field">
                <div class="control">
                    <input id="input-task-description" class="input" type="text" placeholder="Enter description">
                </div>
            </div>

            <div class="buttons">
                <button id="button-create-task" class="button is-success">Create task</button>
                <button id="button-cancel-task" class="button is-danger">Cancel</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
